h1{
    background-color: aquamarine;
    color: red;
    font-family: Verdana;
    font-size: 400%;
    border: 7px solid slateblue;
    margin: 50px;
    padding: 30px;
}

head{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

body{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.grid{
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    margin: 50px;
}

.grid img{
    border: 5px solid firebrick;
    padding: 10px;
    margin: 20px;
}

.grid img:hover{
    transform: scale(1.2);
}

.grid li{
    border: 5px solid firebrick;
    background-color: plum;
    padding: 10px;
    margin: 20px;
}
h3{
    color: brown;
    font-family: Verdana;
    font-size: 200%;
    border: 4px solid rebeccapurple;
    padding: 30px;
    margin: 50px;
}

a:link{
    color: sienna;
}

a:visited{
    color: palegreen;
}